<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link type="text/css" rel="stylesheet" th:href="@{/assets/css/styles.css}"></link>

<title>Product Error Page</title>
</head>
<body>
        
       <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops! </h1>
                    <h2>ProductCatalog-Service custom error page</h2>
                    <div class="error-details">
                        Requested page not found!
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>